<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

	<aop:aspectj-autoproxy />

	<!-- Aspect -->
	<bean id="logAspect" class="com.vishesh.validation.aspect.ValidationAspect" />
	
	<bean id="personService" class="com.vishesh.validation.service.impl.PersonServiceImpl">
		<property name="validator" ref="personValidator"></property>
	</bean>
	
	<bean id="personValidator" class="com.vishesh.validation.api.impl.PersonValidator" />

</beans>